form {margin:0;padding:0;}
fieldset {margin:1em 0;border:none;border-top:1px solid #ccc;}
legend {margin:1em 0;padding:0 .5em;color:#036;background:transparent;font-size:1.3em;font-weight:bold;}
label {float:left;width:100px;padding:0 1em;text-align:right;}
fieldset div {margin-bottom:.5em;padding:0;display:block;}
fieldset div input,fieldset div textarea {width:150px;border-top:1px solid #555;border-left:1px solid #555;border-bottom:1px solid #ccc;border-right:1px solid #ccc;padding:1px;color:#333;}
fieldset div select {padding:1px;}
div.multi div {margin:5px 0;}
div.multi input {width:1em;}
div.multi label {display:block;width:200px;padding-left:5em;text-align:left;}
#create {clear:both;padding-top:1em;text-align:center;}
input:focus,textarea:focus {border:1px solid #df1823;}
body {padding:0;margin:20px;color:#333;background:#ccc;font:12px arial,verdana,sans-serif;text-align:center;}
#container {margin:0 auto;padding:1em;width:450px;text-align:left;}
#target input {width:70px;}

.error {display:none;margin-left:125px;margin-top:1em;margin-bottom:1em;color: #df1823;font-weight: bold;}
.invalid {background:#ffe5e5;border:1px solid #df1823;}
.on-validate {background: #fff url('ajax_indicator.gif') no-repeat 98% 50%; text-decoration: underline;}
