h1 {margin-left:auto;margin-right:auto;text-align:center;}
.container {background:#ccc;}
.centerimage {-moz-user-select:none;-webkit-user-select:none;margin-top:150px;margin-left:auto;margin-right:auto;background-repeat:no-repeat;padding-top:100px;width:650px;height:350px;}
#demo {background-image:url(demo.png);}
#draggable {position:absolute;left:100px;top:100px;cursor:move;-moz-user-select:none;}
#code {position:absolute;width:800px;top:120px;left:50%;margin-left:-400px;}
#types {position:absolute;width:1000px;top:460px;left:50%;margin-left:-400px;}
#canvas #results {font-size:14px;width:300px;}
/* For smaller resolution
#code {position:absolute;width:800px;top:120px;left:50%;margin-left:-330px;}
#types {position:absolute;width:1000px;top:500px;left:50%;margin-left:-300px;}
#canvas #results {font-size:10px;width:150px;}
*/
#types td {font-style:italic;color:#545454;font-size:20px;padding:10px;}
h1 {-moz-user-select:none;-webkit-user-select:none;}
#zipimage {background-image:url(zip.png);}
#mergeimage {background-image:url(merge.png);}
#concatimage {background-image:url(concat.png);}
#combinelatestimage {background-image:url(combineLatest.png);}
.impls {width:800px;margin-left:auto;margin-right:auto;margin-top:80px;}
.impls ul {padding:10px;margin:0;}
.impls li {list-style-type:none;padding-top:20px;font-size:30px;}
.impls a, .impls a:visited {display:block;width:30em;font-family:arial,verdana,sans-serif;font-size:20px;text-align:left;text-decoration:none;}
#query {width: 95%;}
#overviewpanel {position:absolute;width:200px;top:100px;overflow-y:auto;height:500px;font-size: 12px;font-family: arial,serif;}
#overviewpanel ul {position:relative;top:10px; padding: 0;}
#overviewpanel li {display: block; padding: 0;}
#overviewpanel li a {display: block; text-decoration: none;padding: 5px; color:#000;}
#overviewpanel li a:visited {color:#222;}
#overviewpanel li a:hover {display: block; background: #666;color: #fff;}
#detailpanel {position:absolute;left:220px;top:100px;width:100%;height:600px;}
table {margin: 0 auto;}
th {border-bottom: 1px solid #000;}
th,td {padding:5px 10px;}
